/** biome-ignore-all lint/suspicious/noUnknownAtRules: <tailwind> */
@import "tailwindcss";

@import "tw-animate-css";
/* @plugin 'tailwindcss-animate'; */

@custom-variant dark (&:is(.dark *));

@theme {
	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-xl: calc(var(--radius) + 2px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-success: var(--success);
	--color-info: var(--info);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);

	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);

	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);

	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);

	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);

	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);

	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);

	--color-header: var(--header);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);

	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
}

::selection {
	background-color: var(--header);
	color: var(--primary);
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--border, currentColor);
	}
}

@layer base {
	@font-face {
		font-family: "Fira Code";
		src: url("/fonts/FiraCode.woff2") format("woff2");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: Monocraft;
		src: url("/fonts/Monocraft.woff2") format("woff2");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}

	@font-face {
		font-family: "Cascadia Code";
		src: url("/fonts/CascadiaCode.woff2") format("woff2");
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
}

:root {
	--radius: 0.5rem;
	caret-color: var(--accent);
	color: var(--foreground, white);
}

.scroll {
	scrollbar-color: var(--border) var(--color-background);
}
.scroll-chat {
	scrollbar-color: var(--border) transparent;
}
.scroll-chat::-webkit-scrollbar-thumb {
	background: transparent;
}
textarea::-webkit-scrollbar-track {
	background: var(--border);
}

textarea {
	--sb-track-color: transparent;
	--sb-thumb-color: var(--muted);
	--sb-size: 5px;
	/* field-sizing: content;
  overflow-x: hidden;
  max-width: 55ch;
  max-height: 30px; */
}

textarea::-webkit-scrollbar {
	width: var(--sb-size);
}

textarea::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 3px;
}

textarea::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
	textarea {
		scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
	}
}

/* Transitions */
.theme-transition {
	transition:
		background-color 0.2s ease-in-out,
		color 0.2s ease-in-out,
		border-color 0.2s ease-in-out;
}

/* Resizable handle styling */
[data-panel-resize-handle-enabled] {
	transition: all 0.15s ease;
	background-color: transparent;
}

[data-panel-resize-handle-enabled]:hover,
[data-panel-resize-handle-enabled][data-panel-resize-handle-active] {
	background-color: var(--accent);
}

.monaco-editor {
	font-feature-settings:
		"liga" 1,
		"calt" 1;
	/* Enable ligatures */
}

body {
	background-color: var(--muted);
}

pre {
	--sb-track-color: transparent;
	--sb-thumb-color: var(--muted);
	--sb-size: 5px;
	scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.elastic {
	transition-timing-function: cubic-bezier(0.37, 1.83, 0.53, 1.64);
}

/* From Uiverse.io by mrhyddenn */
.spinner {
	font-size: 28px;
	position: relative;
	display: inline-block;
	width: 1em;
	height: 1em;
}

.spinner .spinner-blade {
	position: absolute;
	left: 0.4629em;
	bottom: 0;
	width: 0.074em;
	height: 0.2777em;
	border-radius: 0.0555em;
	background-color: transparent;
	-webkit-transform-origin: center -0.2222em;
	-ms-transform-origin: center -0.2222em;
	transform-origin: center -0.2222em;
	animation: spinner-fade9234 900ms infinite linear;
}

.spinner .spinner-blade:nth-child(1) {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

.spinner .spinner-blade:nth-child(2) {
	-webkit-animation-delay: 0.083s;
	animation-delay: 0.083s;
	-webkit-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	transform: rotate(30deg);
}

.spinner .spinner-blade:nth-child(3) {
	-webkit-animation-delay: 0.166s;
	animation-delay: 0.166s;
	-webkit-transform: rotate(60deg);
	-ms-transform: rotate(60deg);
	transform: rotate(60deg);
}

.spinner .spinner-blade:nth-child(4) {
	-webkit-animation-delay: 0.249s;
	animation-delay: 0.249s;
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}

.spinner .spinner-blade:nth-child(5) {
	-webkit-animation-delay: 0.332s;
	animation-delay: 0.332s;
	-webkit-transform: rotate(120deg);
	-ms-transform: rotate(120deg);
	transform: rotate(120deg);
}

.spinner .spinner-blade:nth-child(6) {
	-webkit-animation-delay: 0.415s;
	animation-delay: 0.415s;
	-webkit-transform: rotate(150deg);
	-ms-transform: rotate(150deg);
	transform: rotate(150deg);
}

.spinner .spinner-blade:nth-child(7) {
	-webkit-animation-delay: 0.498s;
	animation-delay: 0.498s;
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

.spinner .spinner-blade:nth-child(8) {
	-webkit-animation-delay: 0.581s;
	animation-delay: 0.581s;
	-webkit-transform: rotate(210deg);
	-ms-transform: rotate(210deg);
	transform: rotate(210deg);
}

.spinner .spinner-blade:nth-child(9) {
	-webkit-animation-delay: 0.664s;
	animation-delay: 0.664s;
	-webkit-transform: rotate(240deg);
	-ms-transform: rotate(240deg);
	transform: rotate(240deg);
}

.spinner .spinner-blade:nth-child(10) {
	-webkit-animation-delay: 0.747s;
	animation-delay: 0.747s;
	-webkit-transform: rotate(270deg);
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}

.spinner .spinner-blade:nth-child(11) {
	-webkit-animation-delay: 0.83s;
	animation-delay: 0.83s;
	-webkit-transform: rotate(300deg);
	-ms-transform: rotate(300deg);
	transform: rotate(300deg);
}

.spinner .spinner-blade:nth-child(12) {
	-webkit-animation-delay: 0.913s;
	animation-delay: 0.913s;
	-webkit-transform: rotate(330deg);
	-ms-transform: rotate(330deg);
	transform: rotate(330deg);
}

@keyframes spinner-fade9234 {
	0% {
		background-color: var(--accent);
	}

	100% {
		background-color: transparent;
	}
}
