---
import SEO from "@web/components/SEO.astro";
import "./styles.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO />
  </head>
  <body>
    <slot />
    <script
      defer
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "54f410181422422fa3c422ad9cd16328"}'></script>
  </body>
</html>
<style>
  body {
    background-color: #21252b;
  }
</style>
