---
import { pwaInfo } from "virtual:pwa-info";
import SEO from "@web/components/SEO.astro";
import "./styles.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <SEO />
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
  </head>
  <body>
    <slot />
    <script
      defer
      is:inline
      src="https://static.cloudflareinsights.com/beacon.min.js"
      data-cf-beacon='{"token": "54f410181422422fa3c422ad9cd16328"}'></script>
    <script is:inline defer src="../pwa.ts"></script>
  </body>
</html>
<style>
  body {
    background-color: #21252b;
  }
</style>
