<div class="flex flex-col h-screen animate-pulse">
  <div
    class="flex items-center justify-between h-12 border-b border-b-zinc-700"
  >
  </div>
  <div class="flex items-center justify-between h-6 border-b border-b-zinc-700">
  </div>
  <div class="flex-1">
    <div class="border-r h-full border-r-zinc-700 w-1/2"></div>
  </div>
</div>
