---
import App from "@core/App";
const code = Astro.url.searchParams.get("code");
---

<script>
  const url = new URL(location.href);
  url.searchParams.delete("code");
  window.history.replaceState({}, document.title, url);
</script>
<App client:only="react" code={code}>
  <div
    slot="fallback"
    class="absolute inset-0 flex items-center justify-center bg-gray-900"
  >
    <span class="text-white">Loading...</span>
  </div>
</App>
